<h2>Document Sections</h2>
<table class="results">
    {% for sec in sections %}
        <tr>
            <td class="description">{{sec.getLongDesc()}}</td>
            <td class="code">{{sec.getCode()}}</td>
            <td class="code_type">{{sec.getCode_type()}} </td>
        </tr>
    {% endfor %}

</table>