<!DOCTYPE html>
<script type="text/javascript" src="/openemr/library/js/jquery-1.7.2.min.js"></script>
<html>
<head>
<title>OpenEMR Context Manager</title>
</head>
<h1>OpenEMR Context Manager</h1>
<div id='choices'>
<div><span class='label'>Section:</span><span id='sectionChoice'></span></div>
<div><span class='label'>Context:</span><span id='contextChoice'></span></div>
<button id="create_group">Create Group</button>
</div>
<div class='section' id="CodeSearch">
    <input type="text" id="keyword_input"/>
    <br>
    LOINC<input type="radio" value="LOINC" name="searchType" checked='true'/>
    SNOMED<input type="radio" value="SNOMED" name="searchType"/>
    IEMR<input type="radio" value="IEMR" name="searchType"/>
    <div class='results'></div>
</div>
<div class='section' id="DocumentSection">
    <input type="text" id="document_input"/>
    <div id='section_list'></div>
</div>
{% javascripts '@IntegralEMRContextBundle/Resources/javascript/GroupManagement.js'
'@IntegralEMRContextBundle/Resources/javascript/SectionSearch.js'
'@IntegralEMRContextBundle/Resources/javascript/VocabSearch.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% stylesheets '@IntegralEMRContextBundle/Resources/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
</html>
