<!DOCTYPE html>
<script type="text/javascript" src="/openemr/library/js/jquery-1.7.2.min.js"></script>
<html>
<head>
<title>OpenEMR Context Manager</title>
</head>
<h1>OpenEMR Context Manager</h1>
{{msg}}

<div id="CodeSearch">
    <input type="text" id="keyword_input"/>
    <div class='results'></div>
</div>
{% javascripts '@IntegralEMRContextBundle/Resources/javascript/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</html>
