
<!DOCTYPE html>
<html>
<head>
<title>OpenEMR Context Manager</title>
</head>
<h1>OpenEMR Context Manager</h1>
{{msg}}

<div id="Code Search">
    <input type="text" id="keyword_input"/>
    <div class='results></div>
</div>
</html>