<h2>Code List</h2>
<table>
    {% for vc in vocab %}
        <tr>
            <td class="description">{{vc.description}}</td>
            <td class="code">{{vc.code}}</td>
            <td class="code_type">{{vc.code_type}}</td>
        </tr>
    {% endfor %}
</table>