<h2>Keywords</h2>
<table>
    {% for vc in vocab %}
        <tr>
            <td>
                {{vc.description}}
            </td>
            <td>
                {{vc.code}}
            </td>
            <td>
                {{vc.code_type}}
            </td>
        </tr>
    {% endfor %}
</table>