/* 
    Document   : contextManager
    Created on : Jul 24, 2012, 11:22:46 AM
    Author     : yehster
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
choices .label
{
    width: 10em;
}
#CodeSearch
{
    width: 33%;
}
#selections
{
    clear: both;
}
div.section{
    float:left;
}
.results
{
    cursor: pointer;
}